body {
    background-color: #1b1e21;
}

#regForm {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #9fcdff;
    border-radius: 10px;
}

#checkForm {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #9fcdff;
    border-radius: 10px;
}

.reg {
    color: #9fcdff;
}

.header {
    position: relative;
    color: #9fcdff;
    font-size: 25px;
    margin: auto;
}

.btn {
    width: 100px;
    margin: auto;
}